.prayer-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .prayer-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  /* Optionnellement, tu peux aussi gérer la disparition (si tu prévois d'enlever des prières) */
  .prayer-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .prayer-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  